<form [formGroup]="exform">
  <div class="card flex justify-content-center">
    <label>Amount</label>
    <input
      pInputText
      pKeyFilter="int"
      formControlName="value"
    />
    <label>From</label>
    <p-dropdown
     [options]="countries"
      formControlName="selectedCountry"
      optionLabel="selectedCountry"
    />
  </div>

  <hr />

  <div class="card flex justify-content-center">
    <label>To</label>
    <p-dropdown
    *ngIf="countries.length > 0"

      [options]="countries"
      formControlName="selectedCountry"
      optionLabel="name"
    />
    <!-- [ngModel]="amount" 
    should be injected in the next input,
    however it enables the input -->
    <label>Amount</label>
    <input id="disabled-input" type="text" pInputText [disabled]="true" />
  </div>

  <hr />

  <p-button label="Convert"></p-button>
</form>
