/* shared */
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 22.82px;
  }
  
  /* elements styles */
  :host {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: start;
    justify-content: end;
    background: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0.9) 0%,
      rgba(217, 217, 217, 0) 100%
    );
    backdrop-filter: blur(10px);
  }
  
  .fav-container {
    position: relative;
    width: clamp(250px, 95%, 496px);
    height: clamp(300px, 85vh, 815.809px);
    padding-inline: 14.81px;
    padding-block-start: 42.94px;
    padding-block-end: 44.71px;
    border-radius: 29.612px;
    margin-block-start: min(120px, 10vh); 
    margin-inline-end: min(100px, 10vw);
    background: #fff;
  }
  
  .close-btn {
    border: none;
    outline: none;
    width: 71.223px;
    height: 71.223px;
    background-color: #fff;
    position: absolute;
    inset-block-start: -35.6115px;
    inset-inline-end: 35.6115px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  h3 {
    color: #121212;
    font-family: Montserrat;
    font-size: 25.673px;
    font-style: normal;
    font-weight: 500;
    line-height: 34.23px; /* 133.333% */
    text-align: start;
  }
  
  .list-container {
    /* 100% of parent height - title height - gap   */
    height: calc(100% - 34.2188px - 22.82px);
    
    overflow-y: auto;
  }
  
  input[type="checkbox"] 
  {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 24.016px;
    height: 24.016px;
    border: 2.63px solid #b8b8b8;
    border-radius: 50%;
    cursor: pointer; 
    /* transform: translateY(-0.075em);*/
   
  }
  
  input[type="checkbox"]:checked {
    border: none;
    background-image: url("../../../assets/icons/Group.svg");
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  @media (max-width: 550px) {
    .fav-container {
      margin-block-start: auto;
      margin-inline-end: auto;
      margin: auto;
    }
  }
  
//   <button class="relative">
//   <svg
//     xmlns="http://www.w3.org/2000/svg"
//     width="37"
//     height="36"
//     viewBox="0 0 37 36"
//     fill="none"
//   >
//     <g clip-path="url(#clip0_281_6709)">
//       <path
//         d="M18.8757 11.6779V24.3199"
//         stroke="#363636"
//         stroke-width="2.80935"
//         stroke-miterlimit="10"
//         stroke-linecap="round"
//         stroke-linejoin="round"
//       />
//       <path
//         d="M12.5551 17.9988H25.1971"
//         stroke="#363636"
//         stroke-width="2.80935"
//         stroke-miterlimit="10"
//         stroke-linecap="round"
//         stroke-linejoin="round"
//       />
//       <mask
//         id="mask0_281_6709"
//         style="mask-type: luminance"
//         maskUnits="userSpaceOnUse"
//         x="0"
//         y="0"
//         width="37"
//         height="36"
//       >
//         <path
//           d="M0.895874 0.0201912H36.8556V35.9799H0.895874V0.0201912Z"
//           fill="white"
//         />
//       </mask>
//       <g mask="url(#mask0_281_6709)">
//         <path
//           d="M27.451 32.1877C24.9491 33.7032 22.0142 34.5757 18.8755 34.5757C9.72127 34.5757 2.30029 27.1547 2.30029 18.0005C2.30029 8.84622 9.72127 1.42531 18.8755 1.42531C28.0298 1.42531 35.4507 8.84622 35.4507 18.0005C35.4507 21.4045 34.4012 24.5688 32.6413 27.2011"
//           stroke="#363636"
//           stroke-width="2.80935"
//           stroke-miterlimit="10"
//           stroke-linecap="round"
//           stroke-linejoin="round"
//         />
//       </g>
//     </g>
//     <defs>
//       <clipPath id="clip0_281_6709">
//         <rect
//           width="35.9597"
//           height="35.9597"
//           fill="white"
//           transform="translate(0.895996 0.0201416)"
//         />
//       </clipPath>
//     </defs>
//   </svg>
//   <span>Add to Favorites</span>
// </button>


// button {
//   margin-left: auto;
//   display: flex;
//   width: 311px;
//   height: 74px;

//   border-radius: 2.36575rem;
//   border: 1.893px solid #000;
//   background-color: #fff;
//   justify-content: center;
//   align-items: center;
//   gap: 18.926px;
//   flex-shrink: 0;
// }
// button span {
//   color: #363636;
//   font-family: Poppins;
//   font-size: 1.41944rem;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }