<div class="fav-container flex-col">
  <button (click)="closePopup()" class="close-btn">
    <img src="assets/icons/x.svg" alt="close-btn-image" />
  </button>
  <h3>My Favorites</h3>
  <div class="test">

    <div class="list-container flex-col">
      <app-rate-card *ngFor="let card of selectedFav;let index = index" [cardData]="card">
        <input
          type="checkbox"
          (change)="toggleFav($event,index)"
          [checked]="card?.checked"
        />
      </app-rate-card>
    </div>
  </div>
</div>
