
.background-img {
  background-image: url(../../../assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    margin-right: auto;
    display: flex;
    padding: 2% 5%;
  }
}

.container-transperant {
  border-radius: 18px;
  background: linear-gradient(134deg, rgba(0, 0, 0, 0.40) 0%, rgba(157, 157, 157, 0.20) 100%);
  backdrop-filter: blur(4.504402160644531px);
  width: 45%;
  padding: 8% 10%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0.1px solid rgb(128, 128, 128);
  justify-content: center;
  align-items: center;

  .switch-button {
    padding: 1%;
    display: flex;
    margin-bottom: 2%;
    border-radius: 30px;
    width: 55%;
    justify-content: space-between;
    font-size: 18px;
    background-color: #F0F0F0;
    gap: 15px;
    .switch-button-option {
      cursor: pointer;
      padding: 3% 12%;
      display: inline-flex;
      border: none;
      background: transparent;
      outline: none;
      text-align: center;
      color: black;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 20px;
      &.active {
        background-color: #FFF;
      }
    }
  }
}


.switch-button-option.active {
  background-color: white;
  color: black;

}

