<div class="background-img">
  <nav class="logo">
    <img class="img" src="assets/images/final 1 (2).png"/>
  </nav>

  <div class="container-transperant" *ngIf="apiservice.countries.length > 0">
    <div class="switch-button">
      <button
        class="switch-button-option"
        routerLinkActive="active"
        routerLink="/convert"
      >
        Convert
      </button>
      <button
        class="switch-button-option"
        routerLinkActive="active"
        routerLink="/compare"

      >
        Compare
      </button>
    </div>
    <router-outlet></router-outlet>

  </div>
</div>
