<div class="background-img">
  <nav class="logo">
    <img class="img" src="assets/images/final 1 (2).png"/>
  </nav>

  <div class="container-transperant">
    <div class="switch-button">
      <button
              class="switch-button-option"
              routerLinkActive="active"
              routerLink="/convert"
      >
        Convert
      </button>
      <button
              class="switch-button-option"
              routerLinkActive="active"
              routerLink="/compare"
      >
        Compare
      </button>
    </div>
    <router-outlet></router-outlet>

  </div>


</div>
<div class="space"></div>
<div class="photo"><p class="lab">ConCurrency</p></div>
<div style="margin: 1rem 6rem">
  <h2 class="h2">live exchange rates</h2>
  <button class="show-button" (click)="show()">
    <img class="adf" src="../assets/images/plus 1.jpg" /> Add to favourite
  </button>

  <h6 class="h6">My portofolio</h6>
</div>

<div class="l-container">
  <app-rate-card
    style="margin-bottom: 5rem; width: 35%"
    *ngFor="let card of myFavArray"
    [cardData]="card"
  >
    <ng-container>
      <div>{{ card.value }}</div>
    </ng-container>
  </app-rate-card>
</div>

<app-favourites
  *ngIf="showFav"
  (closeFav)="showFav = $event"
  (favItemChanges)="testFavChanges($event)"
></app-favourites>
