.background-img {
  background-image: url(../../../assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    margin-right: auto;
    display: flex;
    padding: 2% 5%;
  }
}

.container-transperant {
  border-radius: 18px;
  background: linear-gradient(134deg, rgba(0, 0, 0, 0.40) 0%, rgba(157, 157, 157, 0.20) 100%);
  backdrop-filter: blur(4.504402160644531px);
  padding: 6% 7%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0.1px solid rgb(128, 128, 128);
  justify-content: center;
  align-items: center;

  

  .switch-button {
    padding: 1%;
    display: flex;
    margin-bottom: 2%;
    border-radius: 30px;
    // justify-content: space-between;
    font-size: 18px;
    background-color: #f0f0f0ef;
    display: flex;
    width: 554.841px;
    height: 81.047px;
    justify-content: center;
    align-items: center;
    gap: 111.487px;
    .switch-button-option {
      cursor: pointer;
      // padding: 1rem 3.3rem;
      // display: inline-flex;

      background: transparent;
      outline: none;
      text-align: center;
      color: black;
      transition: background-color 0.3s, color 0.3s;
      border: none;
      border-radius: 36.292px;
      display: flex;
      width: 239.088px;
      height: 81.047px;
      padding: 16.113px;
      justify-content: center;
      align-items: center;
      gap: 16.113px;
      flex-shrink: 0;
      color: #141414;
      font-family: Poppins;
      font-size: 24.314px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &.active {
        background-color: #FFF;
      }
    }
  }
}


.switch-button-option.active {
  background-color: white;
  color: black;

}
