.l-container {
    width: 30%;
    padding: 1rem;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    gap: 1rem;
  }
  button{
    margin-left: 80%;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    margin-top: 10px
  }