<form [formGroup]="exform">
<div class="flex-con">
  <div class="card" *ngIf="apiService.countries.length > 0">
    <div class="input-con ">
      <label class="card-label">Amount</label>
      <input pInputText pKeyFilter="pint" formControlName="value"/>
    </div>
    <div class="input-con ">
      <label class="card-label">From</label>

      <p-dropdown [options]="apiService.countries" formControlName="srcCountry">
        <ng-template pTemplate="selectedItem">
          <div class="drop-down">
            <img class="flag" [src]="exform.get('srcCountry')?.value['flagUrl']"/>
            <span>{{ exform.get("srcCountry")?.value['code'] }}</span>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="drop-down">
            <img class="flag" [src]="country.flagUrl"/>
            <span>{{ country.code }}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <label class="card-label">Amount</label>
      <input
              type="text"
              pInputText
              readonly="readonly"
              formControlName="amount1"
      />
    </div>
  </div>

  <div class="card flex justify-content-center" *ngIf="apiService.countries.length > 0"
  >
    <div class="input-con ">
      <label class="card-label">Targeted Currency</label>
      <p-dropdown [options]="apiService.countries" formControlName="dstCountry1">
        <ng-template pTemplate="selectedItem">
          <div class="drop-down">
            <img class="flag" [src]="exform.get('dstCountry1')?.value['flagUrl']"/>
            <span>{{ exform.get("dstCountry1")?.value['code'] }}</span>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="drop-down">
            <img class="flag" [src]="country.flagUrl"/>
            <span>{{ country.code }}</span>
          </div>
        </ng-template>
      </p-dropdown>



    </div>
    <div class="input-con ">

      <label class="card-label">Targeted Currency</label>
      <p-dropdown [options]="apiService.countries" formControlName="dstCountry2">
        <ng-template pTemplate="selectedItem">
          <div class="drop-down">
            <img class="flag" [src]="exform.get('dstCountry2')?.value['flagUrl']"/>
            <span>{{ exform.get("dstCountry2")?.value['code'] }}</span>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="drop-down">
            <img class="flag" [src]="country.flagUrl"/>
            <span>{{ country.code }}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <label class="card-label">Amount</label>
      <input
        type="text"
        pInputText
        readonly="readonly"
        formControlName="amount2"
      />
    </div>
  </div>
  </div>
  <p-button
    label="Compare"
    [disabled]="!exform.valid"
    (onClick)="compare()"
  >

      <p-progressSpinner *ngIf="isLoading" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>

  </p-button>

</form>
