:host ::ng-deep .p-dropdown {

  border-radius: 29.223px;
  border: 0.731px solid #C5C5C5;
  background: #F9F9F9;
  width: 222.096px;
  height: 70.136px;
  flex-shrink: 0;
 

}

::ng-deep {
  .p-inputtext {
    width: 222.096px;
    height: 70.136px;
    flex-shrink: 0;
    border-radius: 29.223px;
    border: 0.731px solid #C5C5C5;
    background: #F9F9F9;

    color: #000;
    font-family: Poppins;
    font-size: 23.379px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

}

::ng-deep {
  .p-button {
    border-radius: 35.238px;
    background: #0e98d0;
    width: 100% ;
    margin-top: 13px;

    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 21.107px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .p-disabled,
  .p-component:disabled {
    opacity: 1;
  }

  //   .p-button:hover {
  //     background: green;
  // }
}

.card-label {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20.456px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 15px;
}

.card {

  display: flex;
  justify-content: space-between;
  gap: 10px;

  .input-con {
    display: inline-flex;
    flex-direction: column;

    &.flex-2 {
      flex: 2;
    }

    &.flex-1 {
      flex: 1;
    }

  }


}

drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1% 5%;

}
.imgs{
  width: 40.912px;
  height: 29.223px;
  flex-shrink: 0;


}
.cos{
  color: #202020;
  font-family: Poppins;
  font-size: 20.456px;
  font-style: normal;
  font-weight: 400;
  line-height:normal;
  display: inline;
}
.space{
  margin-top: 10px;
}

//.dropdown-selected{
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  gap: 15px;
//  //padding: 0 5%;
//}
