:host ::ng-deep .p-dropdown {
  width: 14rem;
  border-radius: 35.238px;
  border: 0.881px solid #c5c5c5;
  background: #f9f9f9;

}

::ng-deep {
  .p-inputtext {
    border-radius: 35.238px;
    flex-shrink: 0;
    border: 0.881px solid #c5c5c5;
    background: #f9f9f9;
  }

}

::ng-deep {
  .p-button {
    border-radius: 35.238px;
    background: #0e98d0;
    width: 100%;

    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 21.107px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .p-disabled,
  .p-component:disabled {
    opacity: 1;
  }

  //   .p-button:hover {
  //     background: green;
  // }
}

.card-label {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex-con {
  gap: 10px;
  display: flex;
margin-bottom: 10px;
  .card {
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .input-con {
      display: inline-flex;
      flex-direction: column;

      label {
  margin: 0.5rem 0;
      }


    }


  }
}


drop-down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 1% 5%;

}

.flag {
  width: 30px;
  height: 25px;
  margin-right: 1rem;

}

//.dropdown-selected{
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  gap: 15px;
//  //padding: 0 5%;
//}

